.sp-slider{
    width:700px;
    position:relative;
    margin:20px auto;
}
.sp-slider img{
    max-width:100%;
    height:auto;
}
.sp-slider [data-action]{
    text-decoration:none;
    background-color:#ffffff;
    width:20px;
    height:20px;
    border-radius:10px;
    color:#000000;
    position:absolute;
    z-index:4;
    top:50%;
    transform: translateY(-50%);
    text-align:center;
    line-height:20px;
    font-weight:bold;
    cursor:pointer;
}
.sp-slider [data-action]:hover{
    background-color:#000000;
    color:#ffffff;
}
.sp-slider [data-action="next"]{
    right:5px;
}
.sp-slider [data-action="prev"]{
    left:5px;
}