.sp-slider{
    width:700px;
    position:relative;
    margin:20px auto;

    &:hover{
        .sp-slider__nav{
            transform:translateX(0);
            visibility:visible;
            opacity:1;
        }

    }

    &__image{
        max-width:100%;
        height:auto;
        opacity:1;
        background-color:#dedede;
        transition:all 1s;

        &.animate{
            opacity:0;
        }
    }

    &__nav{
        text-decoration:none;
        background-color:#ffffff;
        width:20px;
        height:20px;
        border-radius:10px;
        color:#000000;
        position:absolute;
        z-index:4;
        top:50%;
        margin-top:-10px;
        text-align:center;
        line-height:20px;
        font-weight:bold;
        cursor:pointer;
        visibility:hidden;
        opacity:0;
        transition: all 0.4s;

        &--next{
            right:5px;
            transform:translateX(30px);
        }

        &--prev{
            left:5px;
            transform:translateX(-30px);
        }

        &:hover{
            background-color:#000000;
            color:#ffffff;
        }
    }
}
